#sponsors-text-1 {
    padding: 5%;
    box-sizing: border-box;
    background-color: var(--snow);
    height: 66vh;
}

#sponsors-text-2 {
    padding: 5%;
    box-sizing: border-box;
    background-color: var(--snow);
    height: 66vh;
}

#sponsors-text-2 a {
    color: var(--coral);
    text-decoration: none;
}

#sponsors-text-2 a:hover {
    text-decoration: underline;
}

#sponsors-logos {
    background-color: var(--peach);
    height: 66vh;
}