/* This imports the google font(s) used on the page */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Work+Sans:wght@600&display=swap');

/* These are variable names I used to refer to the colours; much easier than copy/pasting the hex code each time */
:root {
    --concordia: #932439;
    --babyblue: #89CFF0;
    --peach: #FDCAA3;
    --coral: #F26C67;
}

/* Browsers have default styling you always get rid of, typically padding and margin.
I also set the default font for the whole page here */
body {
    padding: 0;
    margin: 0;
    font-family: 'DM Sans';

}

/* This is the styles for the static background image. Most of these styles except background-attachment are what you use to when 
you're using a div with a background image instead of an img tag */
#background {
    height: fit-content;
    width: 100%;
    background-image: url("../assets/source_background.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /*This is the property that makes the background image static when you scroll, giving that movement effect*/
}

/* I had an idea for the wrapper but then changed my mind. I left it in because it's often useful to have a wrapper div like this, but to be honest 
we might end up removing it later  */
#wrapper {
    width: 100%;
    height: 100%;
}

/* These are the default styles for all the site sections, i.e. the boxes with content. They're often overridden by styles defined in the specific IDs 
but I often like to have some default styles at least when I'm getting the skeleton set up. This may get changed when we clean up at the end if it turns out 
we're overriding most of these default styles with the IDs */
.site-section {
    width: 100%;
    height: 66vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* The logo in the left of the navbar */
#scs-logo {
    height: 100%;
}

/* navbar styles. Notice the z-index: I wanted a box-shadow over the hero image. You don't see it much but it's there */
nav {
    color: snow;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 10vh;
    background-color: var(--concordia);
    box-shadow: rgba(0, 0, 0, 0.56) 10px 44px 140px 14px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
}

/* This selects all a tags (link, anchor) in the nav tag. To select nested tags, you just seperate them with a space like this. 
Seperating with a comma would select all nav tags and all a tags seperately. */
nav a {
    color: inherit;
    text-decoration: none;
}

/* This controls the behaviour when you hover over a link in the navbar */
nav a:hover {
    text-decoration: underline;
}

/* The box containing the boxes containing the site-links in the navbar */
#site-links {
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
    justify-content: space-evenly;
}

/* This is the div with the hero image. Notice the same properties as for the background image.
Also notice the use of vh units for the height. vh = viewport height, and vw = viewport width. In effect these are very close to using 
percentages, but for reasons I'll go over in person they are somtimes easier to work with when it's inconvenient to deal with percentages */
#hero {
    height: 90vh;
    background-image: url("../assets/concordia.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/* This is the div covering all the hero image lightening it up a bit. I used snow, which is a white with a bit of red */
#hero-shade {
    width: 100%;
    height: 100%;
    background-color: #FFFAFA;
    opacity: 0.5;
}

/* About section, nothing special here except maybe the box-shadow. That's a very cool property, look it up */
#about {
    background-color: #FFFAFA;
    height: 66vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    flex-direction: row;
}

/* The left half of the about section */
#aliens {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The aliens image */
#aliens img {
    width: 66%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/* The right half of the about section */
#about-us {
    word-wrap: break-word;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* This selects the p (paragraph) tags in the right half of the about us box */
#about-us p {
    width: 90%;
}

/* The mission section. Notice the box-sizing property. This is very important to know about. When you use padding, if you don't specify
box-sizing: border-box then you're adding extra pixels to the box. For exmaple, let's say you have a box 100px by 100px and add 3px padding.
Everything will be offset 3px from the inner borders, but you will now have a box that's 103px by 103px. border-box keeps your div at 
100px by 100px, which is the behaviour you basically always want but is not default because CSS is a bit dumb sometimes. */
#mission {
    box-sizing: border-box;
    overflow-wrap: break-word;
    padding: 2rem;
    background-color: var(--babyblue);
    align-items: flex-start;
}

/* This selects the header in the mission section */
#mission h2 {
    font-size: 2rem;
    font-weight: bold;
}

/* This selects paragraphs in the mission section */
#mission p {
    width: 90%;
}

/* Events section. Nothing new here. */
#events {
    background-color: #FFFAFA;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

/* This is the class that styles the cards in the events section. */
.card {
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    box-sizing: border-box;
    height: 75%;
    width: 20%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: 0.5rem 0.5rem var(--concordia);
}

/* Sponsors section. Nothing new here. */
#sponsors {
    background-color: var(--peach);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

/* This is the div containing the sponsor logos, not the styles for the actual logos */
#sponsor-logos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* Contact section. Nothing new here. */
#contact {
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: fit-content;
    background-color: var(--concordia);
    flex-flow: row nowrap;
}

/* Class for the three horizontal boxes in the contact section */
.contact-box {
    height: 100%;
    flex: 1;
}

/* This removes the default bullets from the unordered list */
.contact-box ul {
    list-style-type: none;
}

/* These are the empty spacer divs */
.spacer {
    width: 100%;
    height: 50vh;
    background: snow;
    opacity: 0.2;
}